/* Booking */
.errors {
  color: var(--secondary-dark);
  font-size: 0.75rem;
  font-weight: 700;
  text-align: left;
}

.required {
  color: var(--secondary-dark);
}
form {
  color: var(--primary-green);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
  padding: 1rem;
  border: 3px solid var(--primary-green);
  border-radius: 16px;
}

label {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
}

input,
select,
text {
  width: 100%;
  padding: 10px;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  border: 2px solid var(--secondary-light);
  border-radius: 4px;
  outline: none;
}

input:focus,
select:focus,
text:focus {
  border-color: var(--highlight-light);
}

.required {
  color: var(--secondary-dark);
}

.booking-form {
  color: var(--primary-green);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
  padding: 1rem;
  border: 3px solid var(--primary-green);
  border-radius: 16px;
}
.btn-edit,
.btn-book {
  background-color: var(--primary-yellow) !important;
  color: var(--highlight-dark) !important;
}
